body {
    background: #c5c5c5;
    font-family: Montserrat;
    font-size: 16px;
}

._hide .user-flter {
    display: none;
}

._flex {
    display: flex;
}

.section {
    width: 100%;
}

.container {
    width: 40%;
    min-width: 310px;
    margin: auto;
}

.load-users {
    display: flex;
    justify-content: center;
}

.user {
    animation: show .8s forwards ease;
    overflow: hidden;
    min-height: 128px;
    border-radius: 10px;
    margin: 20px 0;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    background-color: #1e826a;
    color: #dcdcdc;
}

.user__info-block {
    padding: 10px;
}


.users-stats {
    width: auto;
    color: #dcdcdc;
    background-color: #1e826a;
    padding: 10px;
    font-weight: 600;
    margin: 5px 0;
    border-radius: 10px;
}

.user-select {
    border: 2px solid #1e826a;
    border-radius: 10px;
    background-color: #fff;
    padding: 5px 15px;
    flex-basis: 100%;
    margin-right: 10px;
}

.user-select__input {
    font-family: Montserrat;
    font-size: 16px;
    outline: none;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
}

.user-sort {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    padding: 5px 10px;
    background-color: #fff;
    border: 2px solid #1e826a;
    border-radius: 10px;
    color: #1e826a;
    outline: none;
    letter-spacing: 4px;
    transition: .3s;
    margin-right: 5px;
}

.user-sort.active {
    background-color: #1e826a;
    color: #fff;
}

.button {
    font-family: Montserrat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    width: auto;
    font-size: 18px;
    font-weight: 600;
    padding: 0 20px;
    height: 60px;
    background-color: #8BC34A;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    position: absolute;
    transition: opacity .3s, background-color .5s;
}

.button.load {
    animation: load 1s forwards;
}

.button.load-end {
    opacity: 0;
}

.button.error {
   background-color: rgb(202, 51, 51);
   animation: load 1s reverse;
}

.button.load::before {
    opacity: 1;
    animation: spin 8s infinite ease;
}

.button.error::before {
    transition: 1s;
    opacity: 0;
}

.button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border: 4px solid #ffffff;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes load {
    0% {
        font-size: 0;
        width: 150px;
    }
    10% {
        border-radius: 50%;
        font-size: 0;
        width: 60px;
    }
    100% {
        border-radius: 50%;
        font-size: 0;
        width: 60px;
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(1080deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(2070deg);
    }
    75% {
        transform: translate(-50%, -50%) rotate(2970deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(3960deg);
    }
}
